<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35062421586-cfcshqv0nk7qgple5bujok891cs2g5m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35062421586-cfcshqv0nk7qgple5bujok891cs2g5m6</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mwcXl3wBaL9nqivm8UXB-oWx3bv5WHo</string>
	<key>GCM_SENDER_ID</key>
	<string>35062421586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catstagram</string>
	<key>PROJECT_ID</key>
	<string>catstagram-db47e</string>
	<key>STORAGE_BUCKET</key>
	<string>catstagram-db47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35062421586:ios:32a7f9e993d2e23351678b</string>
</dict>
</plist>